/*
     <section id="banners">
        <div class="banner">
          <img src="img/lemon.jpg" width="60pw" height="20vh" alt="">
          <div class="text">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati repellendus odit quae eius minus?</p>
          </div>
        </div>
      
      </section>
*/

#banners {
  height: 100vh;
  padding: 0;
  // background-color: #0528d8;
 
  .banner {
    height: 100%;
    width: 100%;
    position: relative;
    // @include calcularPadding(10px, 0.9);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
    
    }
    
    .filtro-items-div{
      @include flex(row, center, center);
      gap: 10px;
        p:hover{
          border-bottom: solid 1px  white;
        }
   
  }
}
}