//FUNCIONES

@mixin calcularPadding($medidaBase, $proporcion: 0.7) {
  padding: $medidaBase ($medidaBase * 0.7);
}

@mixin flex($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin grid($cantCol, $tamFilas, $gap) {
  display: grid;
  grid-template-columns: repeat($cantCol, 1fr); 
  grid-auto-rows: $tamFilas;
  grid-gap: $gap;
  
}
