//COLORES-----------------------------------
$primaryColor: #7048e8;
$secondaryColor: #364fc7;
$colorHeader: linear-gradient(250deg,#3A4297, #bd21dc);
$bcCards: #868e969d;
$grey7: #495057;


//FUENTES ------------------------------------
$fontBody: calibri, arial, sans-serif;
$font: calibri, arial, sans-serif;
$fontHeaders: "Poor Story", cursive;

//MEDIDAS---------------------------------------
$paddingbase: 0 5%;
$paddingHeader: 0 5%;
